@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(15,47,159);
    background: linear-gradient(37deg, rgba(15,47,159,1) 0%, rgba(106,28,207,1) 50%, rgba(210,69,252,1) 100%);
    color: white;
}
